name: build

on:
  push:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libgtk-3-dev libgtk-layer-shell-dev
      - name: Set up
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1
      - name: Build x11
        run: cargo build --release
      - run: ls -alh target/release
      # - name: Release
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     files: target/release/eww
      #     body: Build for commit ${{ github.sha }}
      - name: Create tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ github.sha }}
          tag_prefix: ""
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: target/release/eww
